<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<title>
		{% block title %}
			Shop: box
	    {% endblock %}
	</title>
</head>
<body>
	<div id="header">Box shop</div>
	
	{% block content %}
	{% endblock %}

	{% block footer %}
	    <hr>
		<footer id="footer">
			footer
		</footer>
	{% endblock %}
</body>
</html>