<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<title></title>
</head>
<body>
	<div id="header">Box shop</div>
	
	{% block content %}
	{% endblock %}



</body>
</html>