{% extends 'index.twig' %}

{% block name %}
	Shop->Admin login:
{% endblock %}

{% block content %}

<h1>Login</h1>
	<hr>
	<form name="login" method="POST" enctype="multipart/form-data" action="login.php">
		{% if error %}
			<div>{{ error }}</div>
		{% endif %}

		<div>Login</div>
		<input type="input" name="login" value="{{ login }}">
		
		<div>Password</div>
		<input type="input" name="pass" value="{{ password }}"><br>

		<div>Action: {{ action }}</div>
		<input type="submit" name="action" value="login"> <input type="submit" name="action" value="register">
	</form>
    
{% endblock %}

{% if expression %}{% endif %}